* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* start global */
body {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s padding-left;
}

h1 {
    text-transform: uppercase;
}

section {
    text-align: center;
}

h3,
h2,
h1 {
    position: relative;
    margin-bottom: 45px;
}

h1::before,
h2::before,
h3::before {
    content: "";
    position: absolute;
    top: 200%;
    height: 2px;
    width: 50px;
    background-color: orangered;
}

h1::before {
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s;
    text-decoration: none;
}

section p {
    font-weight: bold;   
}


/* navbar */


nav.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 999;
}

nav.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar-toggle {
    display: none;
}

nav.navbar .navbar-brand {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navbar .navbar-brand span {
    color: orangered;
    font-weight: normal;
}

nav.navbar .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


nav.navbar .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav.navbar .navbar-right li {
    
}

nav.navbar .navbar-right li a {
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 20px;
}


nav.navbar .navbar-right li a.active {
    color: orangered;
}

nav.navbar .navbar-right li a:hover {
    color: orangered;
}

/*end navbar*/

/* start fixed-menu */
.fixed-menu {
    height: 100%;
    background-color: #000;
    width: 240px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: -240px;
    padding-top: 72px;
    transition: 0.5s;
}

.fixed-menu ul {
    color: #fff;
    list-style: none;
    height: 100%;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
    padding-left: 0;
}

.fixed-menu ul li {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    cursor: pointer;
}

.fixed-menu ul li:hover {
    background-color: orangered;
}

.fixed-menu ul li a {
    text-decoration: none;
    color: #fff;
}

.fixed-menu i {
    position: absolute;
    top: 100px;
    left: 240px;
    color: #fff;
    font-size: 20px;
    background-color: #000;
    padding: 8px 10px 8px 13px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

/* end fixed-menu */


/*start header*/
.header {
    background-image: url('../images/landing/01.jpg');
    background-size: cover;
    text-align: left;
    position: relative;
    height: auto;
    padding: 120px 0;
}

.header .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .discription {
    position: relative;
    width: 50%;
}

.header .discription p:first-of-type {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 72px;
    color: #fff;
}

.header .discription p:first-of-type span {
    font-weight: normal;
    color: orangered;
}

.header .discription p.lead {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 100px;

}

.header .discription p.lead::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 13%;
    background-color: orangered;
}

.header .discription p {
    color: lightgray;
}

.header .discription button {
    color: #fff;
    text-transform: capitalize;
    background-color: transparent;
    padding: 10px 25px;
    border: 2px solid #fff;
    margin-top: 40px;
}

.header .discription button:hover{
    background-color: orangered;
}

.header .start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.header .start form {
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.header .start form p {
    background-color: lightgray;
    padding: 15px 0;
    margin-top: 0px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: black;
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

.header .start form p span {
    color: orangered;
    text-transform: uppercase;
}

.header .start form input {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid lightgray;
    text-transform: capitalize;
    width: 80%;
    margin: 30px auto;
    font-weight: bold;
}

.header .start form input:first-of-type {
    margin-top: 40px;
}

.header .start form input:last-of-type {
    margin-bottom: 40px;
}

.header .start form button {
    padding: 15px;
    background-color: orangered;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    border-radius: 0px;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
/* end header */

/* start social-media */
.social-media {
    padding: 5px 0px;
    box-shadow: -2px -5px 13px #000;
    text-align: left;
}

.social-media .text h4 {
    font-weight: bold;
    text-transform: capitalize;
}

.social-media .text p {
    color: gray;
    font-weight: bold;
}
/* end social-media */

 /* start section-tabs */
.section-tabs {
    background-color: lightgray;
    padding: 120px 0;
}

.section-tabs .container {
    display: flex;
}

.section-tabs .tabs {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-right: 5%;
}

.section-tabs .tabs button {
    padding: 45px 30px;
    background-color: black;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.section-tabs .tabs button.active {
    background-color: orangered;
}

.content {
    text-align: left;
    width: 40%;
    margin-right: 5%;
}

.text1,
.text2,
.text3 {
    
}

.activetext {
    display: block !important;
}

.text1 h3,
.text2 h3,
.text3 h3 {
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 0px;
}

.text1 p,
.text2 p,
.text3 p {
    color: gray;
    font-weight: bold;
    margin-top: 20px;
}

.text1 button,
.text2 button,
.text3 button {
    padding: 10px 20px;
    background-color: orangered;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 20px;
    border-radius: 20px;
}

.section-tabs .image {
    width: 40%;
}

.section-tabs .image img {
    width: 100%;
    height: 100%;
}
 /* end section-tabs */


 /* start sublist */
.sub-list {
    text-align: left;
    padding: 120px 0;
}

.sub-list .text h3 {
    text-transform: capitalize;
    font-weight: bold;
}

.sub-list .text hr {
    float: left;
}

.sub-list .text h5 {
    text-transform: capitalize;
    font-weight: bold;
}

.sub-list .text p {
    color: gray;
    font-weight: bold;
}


 /* end sublist */

 /* start this is awesome */
.awesome {
    text-align: center;
    padding: 120px 0;
}

.awesome h1 {
    text-transform: uppercase;
}

.awesome hr {
    float: none;
}

.awesome p {
    color: gray;
    font-weight: bold;
}

.awesome .row {
    margin-top: 50px;
}

.awesome .row h4 {
    text-transform: capitalize;
    font-weight: bold;
}


 /* end this is awesome */

 /* start pricing */
.pricing {
    background-color: lightgray;
    text-align: center;
    padding: 120px 0;
}


.pricing .boxes {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


.box,
.box2 {
    height: auto;
    width: 322px;
    background-color: black;
}

.box2 {
    margin-top: 59px;
}


.box h4,
.box2 h4 {
    color: white;
    text-transform: capitalize;
    padding: 15px;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.box .price .dollar,
.box2 .price .dollar {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}
.box .price .number,
.box2 .price .number {
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

.box h4,
.box2 h4 {
    color: lightgray;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.box .popular,
.box2 .popular {
    background-color: orangered;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
}

.box ul,
.box2 ul {
    text-decoration: none;
    list-style: none;
    color: gray;
    padding-left: 0px;
    background-color: #fff;
    font-weight: bold;
}

.box ul li,
.box2 ul li {
    border-bottom: 1px solid gray;
    padding: 5px;
    text-transform: uppercase;
}


.box.popular,
.box2 .popular {
    background-color: orangered;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
}

.box2 .popular {
    padding: 5px;
}

.box ul,
.box2 ul {
    text-decoration: none;
    list-style: none;
    color: gray;
    padding-left: 0px;
    background-color: #fff;
    font-weight: bold;
}
.box ul li,
.box2 ul li {
    border-bottom: 1px solid gray;
    padding: 5px;
    text-transform: uppercase;
}
 /* end pricing */


 /* start testimonials */

.testimonials {
    padding-top: 120px;
}



.feedbacks {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}

.feedback {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.feedbacks p {
    text-align: left;
    background-color: rgb(248, 248, 248);
    color: rgb(190, 190, 190);
    padding: 30px 10px;
    border-radius: 5px;
}

.feedback .member {
    display: flex;
}

.feedback .member .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 10px;
}

.feedback .member .info .name {
    font-weight: bold;
    font-size: 18px;
}

.feedback .member .info .work {
    color: gray;
}

.feedback .member img {
    width: 20%;
}

.reviews-footer {
    background-image: url(../images/landing/01.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    padding: 60px 0;
}

.reviews-footer .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.reviews-footer p {
    color: white;
    position: relative;

}

.reviews-footer h1 {
    color: white;
    position: relative;
}

.reviews-footer button {
    position: relative;
    color: #fff;
    text-transform: capitalize;
    background-color: transparent;
    padding: 10px 25px;
    border: 2px solid #fff;
    margin-top: 40px;
    cursor: pointer;
}
 /* end testimonials */

 /* start contact */
.contact {
    padding: 120px 0;
}

.contact .container {

}

.contact form {
    margin-top: 80px;
}

.contact form .inner-form {
    display: flex;
    justify-content: space-between;
}

.contact form .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.contact form textarea {
    flex: 1;
    margin-left: 20px;
}

.contact form input[type=submit] {
    margin-top: 40px;
}
 /*end contact */




/* start footer */

footer {
    height: 80px;
    background-color: black;
}

/* end footer */


/* start media */
@media (max-width: 576px) {  
 .container {
     max-width: 540px;
 }

 .contact form .inner-form {
     flex-direction: column;
 }
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
 .container {
     max-width: 720px;
 }

.navbar .container {
}

.navbar-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border: none;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
    z-index: 999;
}

.navbar-toggle span {
    width: 80%;
    height: 5px;
    background-color: orangered;
    border-radius: 5px;
    transition: 0.5s all;
}

.toggle span.icon-bar-1 {
    transform: rotate(45deg) translateY(18px) translateX(5px);
}
.toggle span.icon-bar-2 {
    opacity: 0;
}
.toggle span.icon-bar-3 {
    transform: rotate(-45deg) translateY(-18px) translateX(5px);
}

nav.navbar .navigation {
}



nav.navbar .navbar-right {
    transition: 0.5s;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.233);
    position: absolute;
    top: 0;
    left: -100%;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.collapsed {
    display: flex !important;
    transform: translateX(100%) !important;
}

.removeMenu {
    transform: translateX(0) !important;
}

.header {
    text-align: center;
}

.header .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .discription {
    width: 80%;
}

.header .discription p.lead::before {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.header .discription p {
    margin-top: 0px;
}

.header .discription button {
    margin-top: 15px;
}

.header .start {
    margin-top: 50px;
    width: 70%;
}

h3,
h2 {
}

h3::before {
    top: 150%;
}

.boxes {
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.box2 {
    margin-top: 0px;
}

.section-tabs {
}

.section-tabs .container {
    flex-direction: column;
    align-items: center;
}

.section-tabs .tabs {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 0;
}

.section-tabs .content {
    margin-top: 80px;
    width: 100%;
    text-align: center;
    margin-right: 0;
}

.section-tabs .content button {
    margin-top: 80px;
}

h3::before {
    left: 50%;
    transform: translateX(-50%);
}

.section-tabs .text {
    margin-top: 20px;
}

.section-tabs .image {
    width: 100%;
    margin-top: 80px;
}

.feedbacks {
    flex-direction: column;
}

.feedback {
    width: 100%;
    margin-top: 50px;
}

.feedback .member {
    justify-content: center;
}

.feedback .member img {
    width: 10%;
}
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
 .container {
     max-width: 960px;
 }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  
    .container {
        max-width: 1140px;
    }
}